<hr>
<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <button class="btn btn-warning" (click)="onAddNewCounter()">New counter</button>
      <app-counter
        *ngFor="let counter of counters; let i = index"
        [index]="i"
      >
    <!--    [counter]="counter"-->
    <!--    <button class="btn btn-secondary">+</button> {{counter.name}} {{counter.date}} relapses(n)-->
      </app-counter>
    </ul>
  </div>

  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>

