<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    {{ title }}
  </h3>
  <div class="row">
    <div class="col-md-12">
      -----------
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
<!--      <app-counter-list></app-counter-list>-->
      <router-outlet></router-outlet>
    </div>
<!--    <div class="col-md-6">-->
<!--      <app-relapses></app-relapses>-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
  </div>
</div>
